.Cube {
  padding-top: 150px;
  perspective: 800px;
  display: flex;
  justify-content: center;
}

p {
  color: rgba(179, 97, 241, 0.883);
  font-weight: 900;
  font-size: xx-large;
  margin: 15px;
}

.navbar-cube {
  width: 600px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg);
  transition: transform 0.8s;
}

.navbar-edge {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 1px rgba(254, 250, 250, 0.206);
  box-sizing: border-box;
}

.navbar-edge-front {
  transform: rotateY(0deg) translateZ(150px);
}

.navbar-edge-back {
  rotate: 180deg;
  transform: rotateY(180deg) translateZ(150px);
}

.navbar-edge-left {
  transform: rotateY(-90deg) translateZ(150px);
}

.navbar-edge-right {
  transform: rotateY(90deg) translateZ(150px);
}

.navbar-edge-top {
  transform: rotateX(90deg) translateZ(150px);
}

.navbar-edge-bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
