.b1 {
  background-color: rgb(232, 3, 3);
  border: 1px solid rgb(232, 3, 3);
}
.b2 {
  background-color: rgb(30, 7, 234);
  border: 1px solid rgb(30, 7, 234);
}
.b3 {
  background-color: rgb(5, 244, 109);
  border: 1px solid rgb(5, 244, 109);
}
.b4 {
  background-color: rgb(250, 0, 166);
  border: 1px solid rgb(250, 0, 166);
}
