:root {
  --primary: #b8e994;
  --gray-1: #babbbd;
  --gray-2: #dadee2;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --box-shadow-nav: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --text-color: rgb(20, 19, 19);
}
